<app-header></app-header>


<div class="conteudo_tela">


   






    <div class="conteudo_home_box">
    
     
       

                <div class="lista_geracao">
               
                   

                    
                    
                      
                   
                <div class="pokemons-container">
               
               
                    <div *ngFor="let pokemon of pokemons" class="pokemon-card" (click)="navegarParaDetalhes(pokemon.url)">
                    <div class="pokemon-image">
                        <img [src]="pokemon.image" alt="{{ pokemon.name }}" />
                    </div>
                    
                

                    <div class="pokemon-name">
                        <span>{{ pokemon.name }}</span>
                    </div>
                    </div>
               
                          </div>
               
                        </div>
            
    
    
    </div>
      
  
 
  

</div>


<app-footer>

</app-footer>
