footer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.footer a:hover {
    color: #ffcccb;
}
