<header>
    
  <div class="imagem_header">
    <img style=" width: 70px;" src="../../../assets/images/logo_header.png">
  </div>
  


  <nav>
    

    <div class="dropdown">
      <a routerLink="/home" class="dropbtn">Inicio</a>
     
    </div>



      
      <div class="dropdown">
        <p class="dropbtn">Geraçoes</p>
        <div class="dropdown-content">
          <a routerLink="/geracao/1">I Geração</a>
          <a routerLink="/tela3">II Geração</a>
          <a routerLink="/tela4">III Geração</a>
          <a routerLink="/tela2">IV Geração</a>
          <a routerLink="/tela3">V Geração</a>
          <a routerLink="/tela4">VI Geração</a>
          <a routerLink="/tela3">VII Geração</a>
          <a routerLink="/tela4">VIII Geração</a>





        </div>
      </div>
   

      <div class="dropdown">
        <a routerLink="/home" class="dropbtn">Buscar</a>
      </div>


      <div class="botao_sair" (click)="Sair()">
        <p>
             Sair
        </p>
    </div>
  
   
    
   
  </nav>
  


  </header>