<header>
    
  <div class="imagem_header">
    <img style=" width: 70px;" src="../../../assets/images/logo_header.png">
  </div>
  


  <nav>
    

    <div class="dropdown">
      <a routerLink="/home" class="dropbtn">Inicio</a>
     
    </div>



      
      <div class="dropdown">
        <p class="dropbtn">Geraçoes</p>
        <div class="dropdown-content">
          <a routerLink="/geracao/1">I Geração</a>
          <a routerLink="/geracao/2">II Geração</a>
          <a routerLink="/geracao/3">III Geração</a>
          <a routerLink="/geracao/4">IV Geração</a>
          <a routerLink="/geracao/5">V Geração</a>
          <a routerLink="/geracao/6">VI Geração</a>
          <a routerLink="/geracao/7">VII Geração</a>
          <a routerLink="/geracao/8">VIII Geração</a>





        </div>
      </div>
   

      <div class="dropdown">
        <a routerLink="/buscar" class="dropbtn">Buscar</a>
      </div>


      <div class="botao_sair" (click)="Sair()">
        <p>
             Sair
        </p>
    </div>
  
   
    
   
  </nav>
  


  </header>