
<app-header>

</app-header>
<div class="conteudo_tela">


    <div class="topo_home">
        
        <p>
            tela-inicial
        </p>

        <div class="botao_sair" (click)="Sair()">
            <p>
                 Sair
            </p>
        </div>

    </div>






    <div class="conteudo_home_box">
    
    <div class="passadores_geraçoes">
        <button (click)="carregarPorIntervalo(0, 150)">I Geração</button>
        <button (click)="carregarPorIntervalo(151, 250)">II Geração</button>
        <button (click)="carregarPorIntervalo(251, 385)">III Geração</button>
        <button (click)="carregarPorIntervalo(386, 492)">IV Geração</button>
        <button (click)="carregarPorIntervalo(493, 648)">V Geração</button>
        <button (click)="carregarPorIntervalo(649, 720)">VI Geração</button>
        <button (click)="carregarPorIntervalo(721, 808)">VII Geração</button>
        <button (click)="carregarPorIntervalo(809, 889)">VIII Geração</button>
        <button (click)="carregarPorIntervalo(890, 1024)">IX Geração</button>
    </div> 
       

                <div class="lista_geracao">
               
               
                   
                <div class="pokemons-container">
               
               
                    <div *ngFor="let pokemon of pokemons" class="pokemon-card" (click)="navegarParaDetalhes(pokemon.url)">
                    <div class="pokemon-image">
                        <img [src]="pokemon.image" alt="{{ pokemon.name }}" />
                    </div>
                    
                

                    <div class="pokemon-name">
                        <span>{{ pokemon.name }}</span>
                    </div>
                    </div>
               
                          </div>
               
                        </div>
            
    
    
    </div>
      
  
 
  

</div>


