
<app-header>
    
</app-header>
<div class="conteudo_tela">


    <div class="topo_home">
        
        <p>
            tela-inicial
        </p>

        <div class="botao_sair" (click)="Sair()">
            <p>
                 Sair
            </p>
        </div>

    </div>






    <div class="conteudo_home_box">
    
    <div class="passadores_geraçoes">
        <button (click)="carregarPorIntervalo(0, 151)">I Geração</button>
        <button (click)="carregarPorIntervalo(152, 251)">II Geração</button>
        <button (click)="carregarPorIntervalo(252, 386)">III Geração</button>
        <button (click)="carregarPorIntervalo(30, 120)">IV Geração</button>
        <button (click)="carregarPorIntervalo(30, 120)">V Geração</button>
        <button (click)="carregarPorIntervalo(30, 120)">VI Geração</button>
        <button (click)="carregarPorIntervalo(30, 120)">VII Geração</button>
        <button (click)="carregarPorIntervalo(30, 120)">VIII Geração</button>
    </div> 
       

                <div class="lista_geracao">
               
               
                   
                <div class="pokemons-container">
               
               
                    <div *ngFor="let pokemon of pokemons" class="pokemon-card" (click)="navegarParaDetalhes(pokemon.url)">
                    <div class="pokemon-image">
                        <img [src]="pokemon.image" alt="{{ pokemon.name }}" />
                    </div>
                    
                

                    <div class="pokemon-name">
                        <span>{{ pokemon.name }}</span>
                    </div>
                    </div>
               
                          </div>
               
                        </div>
            
    
    
    </div>
      
  
 
  

</div>


