<div class="conteudo_tela">


    <div class="topo_home">
        
        <p>
            tela-inicial
        </p>

        <div class="botao_sair" (click)="Sair()">
            <p>
                 Sair
            </p>
        </div>

    </div>






  
  <div class="conteudo_home_box">
    
        <div class="lista_geraçao">
            <h2>Lista de Pokémon</h2>
            <ul>
               
               
                <li (click)="navegarParaDetalhes(pokemon.url)" *ngFor="let pokemon of pokemons">
                    <span class="pokemon-link">
                      {{ pokemon.name }}
                    </span>
                </li>
              
            
            </ul>
        </div>


       
          


        <div class="imagem_poke">
          <div class="imagem_poke_box"> 

          </div>
        </div>



</div>
  
 
  

</div>